:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #2196f3;
  --third-text-color: #rgba(255, 255, 255, 0.6);
  --fourh-text-color: #757575;
  --accent-color: #292929;
  --main--btr-color: #ffffff;
  --hader-text-color: #2196f3;
}

body {
  font-family: "roboto", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  color: var(--second-text-color);
}

.header-color-wbo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.19;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
.header-color-wbo1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.19;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--second-title-color);
}
.header-color {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--second-title-color);
}
.header-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}
.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: var(--accent-color);
}
.hero-title {
  font-weight: 800px;
  font-size: 1.36;
  line-height: 44px;
  letter-spacing: 0.09em;

  color: var(--main--btr-color);
}
.hero-btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: var(--second-text-color);
}
.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main--btr-color);
}
.hero-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-title-color);
}
.hero-list {
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.hero-list-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.hero-after {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.about-pre-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.about-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.about-after-title {
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: var(--accent-color);
}
.footer-iten {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--hader-text-color);
}
.footer-color-wbo2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--main--btr-color);
}
.footer-adres {
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--main--btr-color);
}
.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.footer-tel {
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
