:root {
  --hero-title-color: #ffffff;
  --second-title-color: #212121;
  --hero-text-color: #212121;
  --second-text-color: #757575;
  --third-title-color: #2196f3;
  --hader-navigation-item-color: #212121;
  --hader-contact-link-color: #757575;
  --accent-color: #2f303a;
}

body {
  font-family: "roboto", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header-color-wbo {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}
.header-color-wbo1 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}

.navigation-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--hader-navigation-item-color);
}
.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.header-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

/* ------------------------------hero--------------------- */

.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.hero-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-title-color);
}
.hero-list {
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.hero-list-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.hero-after {
  font-weight: bold;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
/* ------------------about------------------------- */

.about-pre-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.about-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.about-after-title {
  font-size: 18px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

/* ------------------------------footer----------------- */

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: var(--accent-color);
}

.footer-color-wbo {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}
.footer-color-wbo1 {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--hero-title-color);
}
.footer-item-adres {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.header-tellefon {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-link-a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: #212121;
}
.filter-btn:hover,
.filter-btn:focus {
  color: #2196f3;
}
